DB_HOST=
DB_NAME=rpadata
DB_USER=postgres
DB_PASSWORD=

DEV_MODE=

STAGING_TABLE=filling_product_logs
DATE_COLUMN=created_at
FILTER_COLUMN_LINE=vm_line
FILTER_COLUMN_ASSIGNMENT_NO=assignment_no
FILTER_COLUMN_PARENT_NO=parent_serial_no
FILTER_COLUMN_SERIAL_NO=serial_no
FILTER_COLUMN_PRODUCT_NAME=product_name
